.lh {
    width: 1000px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: antiquewhite;
}

/*.header-content .nav{
    float: right;
}*/
/*设置导航栏*/
.header-content {
    width: 1000px;
    height: 50px;
    margin: auto;
    background: #000000;
}

.nav .menu > li {
    float: left;
    font-size: 20px;
    width: 120px;
    line-height: 50px;
    text-align: center;
    margin-left: 2px;
    list-style: none;
}

.nav .menu > li > a {
    color: #2e97c3;
    text-decoration: none;
}

.nav .menu > li:hover > a {
    background: #2e97c3;
    color: #ffffff;
    text-decoration: none;
}

.nav .menu > li.active > a {
    background: #2e97c3;
    color: #ffffff;
    text-decoration: none;
}

.nav li a {
    display: block;
}

/*设置主体左模块*/
.content {
    width: 1000px;
    margin: auto;
}

.content_left {
    width: 670px;
}

.f_l {
    float: left;
}

.content_right {
    width: 300px;
}

.f_r {
    float: right;
}

.content_left > h2 {
    font-size: 16px;
    line-height: 36px;
    color: #000000;
    /*设置分割线*/
    border-bottom: #ff5d00 4px solid;
}

/*文章部分*/
.blogs {
    padding: 30px 0;
    position: relative;
    border-bottom: #fadeb7 1px solid;
    overflow: hidden;
}

.blogs figure {
    float: left;
    width: 25%;
    overflow: hidden;
    cursor: pointer;
}

.blogs figure img {
    width: 100%;
    margin: auto;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

img {
    border: 0;
    display: block;
}

.blogs ul {
    float: right;
    line-height: 22px;
    width: 72%;
    color: #777;
}

ul {
    list-style: none;
}

.blogs h3 {
    font-size: 16px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 10px;
}

.blogs .content_zhuti {
    font-size: 12px;

}

.blogs .z_t {
    padding-top: 10px;
}

.tit01 h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #ffa701;
    position: relative;
    height: 40px
}

.gzwm .xlwb {
    background: url(../images/xlwb.jpg) no-repeat scroll 0% 0% transparent;
}

.gzwm .txwb {
    background: url(../images/txwb.jpg) no-repeat scroll 0% 0% transparent;
}

.gzwm .wx {
    background: url(../images/yx.jpg) no-repeat scroll 0% 0% transparent;
}

.gzwm .feedback {
    background: url(../images/yx.jpg) no-repeat scroll 0% 0% transparent;
}

.gzwm ul {
    width: 100%;
    margin: 30px 0;
    overflow: hidden
}

.gzwm li a {
    color: #747F8C;
    width: 52px;
    text-align: center;
    padding-top: 60px;
    float: left;
    font-size: 12px;
}

.gzwm li {
    width: 52px;
    margin: 0 18px 0 5px;
    float: left;
}
